.welcome-card{
	color: red;
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.welcome-card .title{
	color: red;
}
.subtitle{
	color:#376d9a;
	right:50;
	
}
ion-chip{
	color:#087e8b;
	background-color:#1e4a6f;
}
.ttl{
	color:#172e54;
}